<!-- Meta Magic -->
<%
meta title: "Southern Blasting & Coatings",
     description: "We are a Dustless Blasting, Sand Blasting, Pressure Washing, Powder Coating and Painting company serving the northern Gulf Coast. Contact us today to see why Dustless Blasting is perfect for your job! We also offer Industrial Blasting and Coating.",
     keywords: %w(Dustless Blasting, Pressure Washing, Sand Blasting)
%>

<!-- Start Slider -->


<%= image_tag("coating-slide-1.jpg", :alt => "Southern Blasting & Coatings - Gulf Coast Powder Coating", ) %>





<!-- End Slider -->


<section id="Welcome" class="whitesmoke-wrapper">
  <div class="container inner" style="padding-bottom: 25px;">
      <div class="row">
          <div class="col-md-12">
                <div class="title-section text-center">
                    <h3 style="color:#fff;">Southern Blasting &amp; Coatings</h3><br>
                </div>
                <div class="description-welcome text-center">
                    <center><h4 style="color:#fff;"><strong>The Future of Surface Preparation</strong></h4></center>
                    <p style="color:#fff;"><strong>We are a local Gulf Coast Media Blasting and Coating company specializing in a wide range of applications. Our blasting and coating services range from Marine and Automotive, to Industrial, Cleaning and More. We have a mobile operation, and will gladly come wherever your job demands. We service the coastal areas of Alabama, Florida, and Mississippi, between Biloxi and Destin.<br> Get in touch with us today for a free estimate, or to schedule your job.</strong></p>
                    <center><h4 style="color:#fff;"><strong>Call Us Today! <a style="color: #fff;" href="tel:+12512333699">(251) 233-3699</a></strong></h4></center>
                </div>
            </div>
        </div>
        </div>
        </section>
        <div class="divcod10"></div>
<!-- <section id="Welcome" class="light-wrapper">
  <div class="container inner">
      <div class="row">

        <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eS_H1Ei6gz0" frameborder="0" allowfullscreen></iframe>

        </div>

        <div class="col-md-6">
          <center><h3>What is Dustless Blasting?</h3></center><br>
          <p>Dustless Blasting works by mixing water and abrasive inside the blast tank. By introducing water we’re drastically increasing mass and energy the machine is putting out, while eliminating dust.</p><br>
          <p>Imagine throwing a handful of dry sand (Sand Blasting), versus throwing a handful of wet sand (Dustless Blasting); which one is going to have a more significant impact on the target? Not only will the wet sand hit the target harder, but it won’t disintegrate and become a cloud of dust like the dry sand will.</p><br>
          <div class="TextImg-Block">   
          <center>
          <%= link_to "Learn More", what_is_dustless_blasting_path, data: {no_turbolink: true} %></center>
          </div>

          
        </div>
        
      </div>

      
    </div>
</section> -->

<section id="Welcome" class="light-wrapper">
  <div class="container inner">
      <div class="row">

        <div class="col-md-6">
        <%= image_tag("coating-1.jpg", :alt => "Southern Blasting & Coatings - Powder Coating Alabama and Florida", ) %>

        </div>

        <div class="col-md-6">
          <center><h3>Powder Coatings and Painting Services</h3></center><br>
          <p>Southern Blasting and Coatings offers a wide range of powder coating and painting services.  works by mixing water and abrasive inside the blast tank. By introducing water we’re drastically increasing mass and energy the machine is putting out, while eliminating dust.</p><br>
          <p>Imagine throwing a handful of dry sand (Sand Blasting), versus throwing a handful of wet sand (Dustless Blasting); which one is going to have a more significant impact on the target? Not only will the wet sand hit the target harder, but it won’t disintegrate and become a cloud of dust like the dry sand will.</p><br>
          <div class="TextImg-Block">   
          <center>
          <%= link_to "Learn More", what_is_dustless_blasting_path, data: {no_turbolink: true} %></center>
          </div>

          
        </div>
        
      </div>

      
    </div>
</section>

<section id="Welcome" class="whitesmoke-wrapper">
  <div class="container inner" style="padding-bottom: 25px;">
      <div class="row">

          <center><h2 style="color:#fff;"><strong>Our Services</strong></h2></center><br><br>

        <div class="col-md-9">
          <h4 style="color:#fff; font-weight:bold;">We offer a wide range of services to customers along the northern Gulf Coast:</h4><br><br>

            <div class="half-not-mobile">
            <h4 style="color: #fff;font-weight:bold;">- Automotive<br>
            - Marine<br>
            - Fleet Vehicles<br>
            - Graffiti Removal<br>
            - Stripe Removal<br></h4>
            </div>

            <div class="half-not-mobile">
            <h4 style="color: #fff;font-weight:bold;">- Heavy Equipment<br>
            - Surface Cleaning<br>
            - Powder Coating<br>
            - Wood Restoration<br><br><br>
            </h4>
            </div>

            <h4 style="color:#fff; font-weight:bold;">Contact us today for more information or get to a free estimate: <a style="color:#fff;"" href="tel:+12512333699">(251) 233-3699</a></h4><br><br>
        </div>

          <div class="col-md-3">
          <%= image_tag("industrial-tower.jpg", :alt => "Southern Dustless Blasting - Gulf Coast Media Blasting", ) %>
          </div>

      </div>

  </div>

</section>

<section id="Welcome" class="light-wrapper">
  <div class="container inner">
      <div class="row">

        <div class="col-md-4">
        <%= image_tag("indust-building.jpg", :alt => "Southern Dustless Blasting - Gulf Coast Media Blasting", ) %>

        </div>

        <div class="col-md-8">
          <center><h3>Industrial Dustless Blasting</h3></center><br>
          <p>We offer Dustless Blasting services for a wide range of industrial applications. Our blasting rig is mobile, and we can come to you to accomplish the job. Call us today to get a free quote on your industrial blasting needs.</p><br>
          
          <center><p><strong>Examples of Industrial Services</strong></p></center>

                    <div class="col-md-4">
                        <p><strong>Construction Equipment</strong></p>
                        <p>Asphalt Tar Cleaning</p>
                        <p>Equipment Repainting</p>
                        <p>Paint & Rust Removal</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Factories & Warehouses</strong></p>
                        <p>Building Surface Cleaning</p>
                        <p>Coating & Paint Removal</p>
                        <p>Concrete Surface Cleaning</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Industrial & Refineries</strong></p>
                        <p>Equipment Cleaning</p>
                        <p>Floor & Surface Cleaning</p>
                        <p>Removal of Product Buildup</p>
                    </div><br><br>

          
        </div>
        
      </div>

      
    </div>
</section>

