<li><%= link_to "Home", root_path, data: {no_turbolink: true} %></li>
<li><%= link_to "Powder Coating", powder_coating_path %></li>
<!--  <li><= link_to "What Is Dustless Blasting?", what_is_dustless_blasting_path, data: {no_turbolink: true} %></li> -->
<li><%= link_to "Our Services", services_path %></li>
<li><%= link_to "Industrial Coatings", industrial_coatings_path %></li>
<li><%= link_to "Pressure Washing", pressure_washing_path %></li>
<li><%= link_to "Contact Us", contact_path %></li>