<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= favicon_link_tag 'dusticon.png' %>
    <%= metamagic %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/analytics' %>
  </head>

  <body class="">
    <div class="content-wrap">
      <div id="home" class="body-wrapper">
        <div class="content-wrap">
          <div id="home" class="body-wrapper">

           <%= render 'layouts/header' %>
            <%= yield %>
            <%= render 'layouts/footer' %>
            <!-- <= javascript_include_tag 'application', async: true, 'data-turbolinks-track': 'reload' %> -->

          </div>
        </div>
      </div>
    </div>
  </body>
</html>